<?php

return [
	'topicArn' => 'arn:aws:sns:eu-west-1:923426666275:EXAMPLE',
	'client' => [
		'credentials' => [
			'key' => '',
			'secret' => '',
        	],
        	'version' => '2010-03-31',
        	'region' => 'eu-west-1',
	],
];
